<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="margin-bottom: 24px">
        <a href="Carrito.html">
            <button> Carrito de compras 🛒</button>
        </a>
    </div>
    <div style="margin-bottom: 24px">
        <a href="pagina_principal.html">
            <button> Volver al inicio 🏠</button>
        </a>
    </div>

    <form th:action="@{/catalogo}" method="get">
        <select name="color">
            <option value="">Selecciona un color</option>
            <option value="rojo">Rojo</option>
            <option value="verde">Verde</option>
            <option value="azul">Azul</option>
            <option value="blanco">Blanco</option>
            <option value="amarillo">Amarillo</option>
        </select>
        <select name="tipo">
            <option value="">Selecciona un tipo</option>
            <option value="rosa">Rosa</option>
            <option value="clavel">Clavel</option>
            <option value="hortencia">Hortencia</option>
            <option value="girasol">Girasol</option>
            <option value="tulipan">Tulipán</option>

        </select>
        <select name="ocasion">
            <option value="">Selecciona una ocasión</option>
            <option value="San Valentin">San Valentín</option>
            <option value="Primavera">Primavera</option>
            <option value="Aniversario">Aniversario</option>
            <option value="Día de la Amistad">Día de la Amistad</option>
            <option value="Día del Padre">Día del Padre</option>
            <option value="Día de la Madre">Día de la Madre</option>
            <option value="Condolencias">Condolencias</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <div class="card-group">
        <div class="card" th:each="flor : ${flores}">
            <img th:src="@{/images/{imagen}(imagen=${flor.imagen})}" class="card-img-top" height="500px">
            <div class="card-body">
                <h5 class="card-title" th:text="${flor.nombre}"></h5>
                <p class="card-text" th:text="${flor.descripcion}"></p>
                <p class="card-text"><small class="text-body-secondary">Precio: <span th:text="${flor.precio}"></span> soles</small></p>

                <!-- Botón de Añadir al carrito -->
                <form th:action="@{/carrito/agregar}" method="post">
                    <input type="hidden" name="florId" th:value="${flor.id}">
                    <input type="hidden" name="cantidad" value="1">
                    <button type="submit">Añadir al carrito</button>
                </form>

                <!-- Botón de Quitar del carrito -->
                <form th:action="@{/carrito/quitar}" method="post">
                    <input type="hidden" name="florId" th:value="${flor.id}">
                    <button type="submit">Quitar del carrito</button>
                </form>

                <!-- Botón de Comprar directamente -->
                <form th:action="@{/carrito/comprar}" method="post">
                    <input type="hidden" name="florId" th:value="${flor.id}">
                    <button type="submit">Comprar directamente</button>
                </form>
            </div>
        </div>
    </div>

    <div th:if="${carrito.isEmpty()}">
        <h3>No tienes productos en tu carrito.</h3>
    </div>
    <div th:if="${!carrito.isEmpty()}">
        <h3>Tus productos</h3>
        <div th:each="item : ${carrito}">
            <p th:text="${item.flor.nombre} + ' - Cantidad: ' + ${item.cantidad}"></p>
            <p>Precio: <span th:text="${item.flor.precio}"></span></p>
        </div>
        <form th:action="@{/carrito/comprar}" method="post">
            <button type="submit">Finalizar Compra</button>
        </form>
    </div>

    <p>Total de flores disponibles: <span th:text="${totalFlores}"></span></p>

</body>
</html>