<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catalogo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div style="margin-bottom: 24px">
        <a href="Carrito.html">
            <button> Carrito de compras 🛒</button>
        </a>
    </div>
    <div style="margin-bottom: 24px">
        <a href="pagina_principal.html">
            <button> Volver al inicio 🏠</button>
        </a>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="rosas_rojas.jpeg" class="card-img-top" width="20px" height="500px">
            <div class="card-body">
                <h5 class="card-title">ROSAS ROJAS</h5>
                <p class="card-text">Estas rosas son las más clásicas!</p>
                <p class="card-text"><small class="text-body-secondary">Precio: 50 soles </small></p>
            </div>
            <button style="margin-bottom: 24px"> Añadir al carrito</button>
            <button style="margin-bottom: 24px"> Quitar del carrito</button>
            <button style="margin-bottom: 24px"> Comprar directamente</button>
        </div>
        <div class="card">
            <img src="tulipanes_amarillos.png" class="card-img-top" width="20px" height="500px">
            <div class="card-body">
                <h5 class="card-title">Tulipanes amarillos</h5>
                <p class="card-text">En cierto modo, nos animan y alegran el día. </p>
                <p class="card-text"><small class="text-body-secondary">Precio: 45 soles </small></p>
            </div>
            <button style="margin-bottom: 24px"> Añadir al carrito</button>
            <button style="margin-bottom: 24px"> Quitar del carrito</button>
            <button style="margin-bottom: 24px"> Comprar directamente</button>
        </div>
        <div class="card">
            <img src="hortencias_azules.png" class="card-img-top" width="20px" height="500px">
            <div class="card-body">
                <h5 class="card-title">Hortencias azules</h5>
                <p class="card-text">Ideales para cualquier ocasión</p>
                <p class="card-text"><small class="text-body-secondary">Precio: 40 soles </small></p>
            </div>
            <button style="margin-bottom: 24px"> Añadir al carrito</button>
            <button style="margin-bottom: 24px"> Quitar del carrito</button>
            <button style="margin-bottom: 24px"> Comprar directamente</button>
        </div>
    </div>

</body>
</html>